.nav-link{
    display: block;
    text-decoration: none;
    font-size: large;
    font-family: Roboto;
    color: #555;
}

.nav-link+.nav-link{
    margin-top: 1rem;
}

.active{
    font-weight: 700;
    color: #42e;
}