.nav-link{
    display: block;
    text-decoration: none;
    font-size: large;
    font-family: Roboto;
    color: #555;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.nav-link+.nav-link{
    margin-top: 1rem;
}

.active{
    background-color: #234;
    color: #fefefe;
}